<p style="color: green"><%= notice %></p>

<h1>Posts</h1>

<div class="posts">
  <% @posts.each do |post| %>
    <%= render post %>
    <p>
      <%= link_to 'Show this post', post %>
    </p>
  <% end %>
</div>

<%= link_to 'New Post', new_post_path %>